.qrcode {
    padding: 1rem;
    text-align: center;
    margin: auto;
    border-radius: 30px;
    box-shadow: 0 0 #0003, 0 0 2px #0003;
    width: fit-content;
}

.content {
    margin: 4rem 4rem;
    display: flex;
    overflow-x: scroll;
}

@media(max-width: 900px) {
    .content {
        margin: auto auto;
        flex-direction: column;
    }
}

@media(max-width: 1200px) {
    .content {
        flex-direction: column;
    }
}