.footer {
    margin-top: -8%;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

h1 {
    font-size: 2rem;
}

.address {
    color: #fff;
}

.contactus {
    color: #fff;
}

.followus {
    color: #fff;
}

.followus svg {
    width: 50px;
    height: 100px;
    cursor: pointer;
    padding: 10px;
}

@media(max-width: 900px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .address {
        align-self: flex-start;
        margin-left: 1em;
    }
    .contactus {
        align-self: flex-start;
        margin-left: 1em;
    }
    .followus {
        align-self: flex-start;
        margin-left: 1em;
    }
}