<div class="content">
    <div class="qrcode">
        <h3>{{'preview' | translate}}</h3>
        <qr-code #qrcode [value]='url' size="300" [margin]="margin" [errorCorrectionLevel]="errorLevel" [darkColor]="darkColor" [lightColor]="lightColor"></qr-code>
        <button (click)="download()" type="button" class="btn btn-primary">{{'downloadButtonLabel' | translate}}</button>

    </div>

    <div class="form">
        <div class="inputcontent">
            <label>{{'url' | translate}}</label><br>
            <input placeholder="www.Website.com" name="url" [(ngModel)]="url">
        </div>
        <label>Error Correction Level</label>
        <select class="form-select" [(ngModel)]="errorLevel">
            <option disabled>Level</option>
            <option *ngFor="let level of correctionLevels" value={{level.key}}>{{level.title}}</option>
        </select>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <label>{{'dark' | translate}}</label>
                    <ngx-colors ngx-colors-trigger [(ngModel)]="darkColor"></ngx-colors>
                </div>
                <div class="col-sm">
                    <label>{{'light' | translate}}</label>
                    <ngx-colors ngx-colors-trigger [(ngModel)]="lightColor"></ngx-colors>
                </div>
            </div>
        </div>
        <label>{{'margin' | translate}}</label>
        <input style="box-shadow: 0 0 0 0.1em black" type="number" class="form-control" [(ngModel)]="margin" placeholder="margin(number)">
    </div>
</div>