<div class="container">
    <div class="app-title">
        UNIQCODE
    </div>
    <a class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navs">
        <ul>
            <li><a class="nav-link-item" routerLink="/home">Use Cases</a></li>
            <li><a class="nav-link-item" routerLink="/home">Dashboard</a></li>
            <li><a class="nav-link-item" routerLink="/register">Register</a></li>
        </ul>
    </div>

</div>