.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.toggle-button {
    position: absolute;
    top: 1.47rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #6c757d;
}

.app-title {
    font-weight: 900;
    font-style: normal;
    height: max-content;
    font-size: x-large;
    align-self: center;
    cursor: pointer;
}

.nav-link-item {
    text-decoration: none;
    transition: 0.7s ease;
}

ul {
    display: flex;
    padding-left: 0px;
    list-style: none;
}

li {
    margin-left: 1em;
}

.nav-link-item:hover {
    background-color: #495057;
    color: white;
}

@media(max-width: 700px) {
    .app-title {
        align-self: flex-start;
    }
    .navs {
        align-self: center;
        display: none;
    }
    ul {
        width: 100%;
        flex-direction: column;
    }
    li {
        margin-bottom: 0.5rem;
    }
    .container {
        flex-direction: column;
    }
    .toggle-button {
        display: flex;
    }
    .navs.active {
        display: flex;
        font-size: 1.5rem;
    }
}