<div class="container">
    <div class="app-title">
        {{'uniqcode' | translate}}
    </div>
    <a class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navs">
        <ul>
            <li><a class="nav-link-item" routerLink="/home">{{'home' | translate}}</a></li>
            <li><a class="nav-link-item" routerLink="/dashboard">{{'dashboard' | translate}}</a></li>
            <li *ngIf="!(userName$ | async)"><a class="nav-link-item" routerLink="/register">{{'register' | translate}}</a></li>
            <li>
                <select class="form-select" (change)="selectLanguage($event)">
                    <!-- <option disabled>Language</option> -->
                    <option value="en-IN">English</option>
                    <option value="ml-IN">മലയാളം</option>
                    <option value="hi-IN">हिन्दी</option>
                </select>
            </li>
            <li *ngIf="(userName$ | async)"><a class="nav-link-item" style="cursor: pointer" (click)="logout()">Logout</a></li>
            <li class="welcome">{{userName$ | async}} </li>
        </ul>
    </div>
</div>